* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

}
body {
  background-color: var(--light);
}
:root {
  --aqua: #009eae;
  --light: #edf7f8;
  --sidebar-size: 150px;
}
.main {
  margin-left: var(--sidebar-size);

}
.sidebar {
  height: 100%;
  width: var(--sidebar-size);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--aqua);
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.icon {
  min-width: 5em;
  min-height: 5em;
  background-repeat: no-repeat;
  background-size: 5em;
}
.sidebar__logo {
  width: 140px;
}
.main {
  background-color: var(--light);
}

.icon-button--patient {
  background-image: url("/images/patienten.png");
}
.icon-button--beratung {
  background-image: url(/images/beratung.png);
}
.icon-button--praxis {
  background-image: url(/images/praxis.png);
}
.icon-button--info {
  background-image: url(/images/info.png);
}

.icon-button--settings {
  background-image: url(/images/settings.png);
}
.icon-button--language {
  background-image: url(/images/lang.png);
}
.icon-button--user {
  background-image: url(/images/user.png);
}

.sidebar__item {
  max-width: 10em;
  max-height: 10em;
  background-color: red;
  padding: 2em;
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--aqua);
}

.sidebar__item__text {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 0.5em;
}
.sidebar__logo {
  margin-top: auto;
  padding: 0 1.5em 2.5em 1.5em;
}
.sidebar__split {
  height: 0.1em;
  width: 10em;
  background-color: var(--light);
  margin: 3em 0;
}
.sidebar__item--active {
  background-color: white;
  color: var(--aqua);
  border-radius: 1.5em;
}
.header {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 25%);
  margin-bottom: 10em;
}
.header__logo {
  max-width: 220px;
  grid-row: 2/4;
  grid-column: 3/4;
}
.header__options {
  display: flex;
  grid-row: 3/4;
  grid-column: 4/6;
  margin-left: 20em;
}
.header__options__lang, .header__options__user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4em;
}
.icon-button--language, .icon-button--user {
  border-radius: 2em;


}
.header__options__lang__text, .header__options__user__text {
  font-weight: 300;
  font-size: 1.6em;
  padding: 0 0.8em;
}
.form {
  padding: 1em 6em;
}
.form__title {
  color: var(--aqua);
  font-size: 3em;
}
.form__search {
  background-color: white;
  border: rgb(156, 156, 156) 1px solid;
  border-radius: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.5em;
  margin-bottom: 7.5em;
}
.icon-button--search {
  background-image: url(images/search.png);
  border-radius: 2em;
  margin: 0 1em;
}
.form__search__text {
  color: lightslategray;
  font-size: 1.6em ;
  font-weight: 300;
}
.patients-list {
  padding: 0 6em;
}
.patients-list__filter {
  color: darkslategray;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 2em;
}
.patients-list__card {
  background-color: white;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2.5em;
  border-radius: 2em;
  flex-wrap: wrap;
}
.icon__button--pencil {
  background-image: url(images/edit.png);
}
.icon__button--play {
 background-image: url(images/open.png);
}
.card__actions {
  display: flex;
  gap: 1.5em;
}
.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  flex-wrap: wrap;

}
.card__title {
  color: grey;
  font-weight: 300;
  font-size: 1.5em;
  padding-bottom: 0.6em;
}
.card__text {
  color: red;
}
.card__number__content, .card__birthday__content {
  font-size: 1.5em;
  font-weight: bold;
}

.card__name-text {
  font-size: 1.8em;
  font-weight: bold;
}
.card__name {
  min-width: 25em;
}
.card__number {
  min-width: 25em;
}
.footer {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 8em 0 4em 0;
}
.footer__item {
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-size: 1.2em;
}

a:hover {
  color: var(--aqua);
}
.icon:hover {
  cursor: pointer;
}
.hamburger {
  margin: 20px;
  color: var(--aqua);
  font-size: 3.5em;
  z-index: 999;
  position: absolute;
  visibility: hidden;
}



@media (max-width: 576px) {
  .sidebar {
    visibility: hidden;
    width: 100%;
  }
  .hamburger {
    visibility: visible;
  }
  .main {
    margin-left: 0;

  }

  .header__logo {
    max-width: 140px;
    grid-row: 2/4;
    grid-column: 2/ span 2;

  }
  .header__options {
    margin-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-left: auto;
    margin-top: 10px;
  }

  .header__options__lang__text, .header__options__user__text {
    font-size: 1.2em;
  }

 .icon {
  min-width: 3.5em;
  min-height: 3.5em;
  background-size: 3.5em;

  }
  .patients-list__card {
    flex-wrap: wrap;
  }
  .card__content {
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;
  }
  .card__actions {
    margin-top: 1em;
  }
  .card__actions .icon {
    min-width: 5em;

  }

}
